body{
    margin:0;
    padding:0;
    font-size:16px;
    font-family: 'Helvetica',sans-serif;
}
.wrapperL {
    display: block;
    margin: 0;
    padding: 0;
    background: rgba(255, 255, 255, 1) url("images/404.jpg") no-repeat top center fixed;
    overflow: hidden;
    background-size: cover;
    height:1000px;
    width: 100%;

}

.info {
    width:800px;
    margin:10% auto;
    text-align: center;

}

h1{
    color:rgba(255, 0, 19, 0.94);
    font-size:10em;

}

p {
    font-size:2em;

}


a{
    color:rgba(255,255,255,1);
    font-size:2em;
    text-decoration: none;
    padding:5px 20px;
    background-color:rgba(255, 0, 19, 0.94);
    border-radius:5px;
    border:solid 5px rgba(255,255,255,1);
}

a:visited{
    color:rgba(255,255,255,1);
}

a:hover{

    background-color:rgba(0, 0, 0,1);
    transition:0.2s;

}

